/* --- mobile media query --- */
:root{
    --primary: #304F22;
    --secondary: #C9C250;
    --tertiary: #151D09;
    --emphasis: #FFBE4D;
}

h1, h2, h3{
    font-family: Alegreya, serif;
    color: var(--tertiary);
}

a, p{
    font-family: Inter, sans-serif;
    color: var(--tertiary);
}

.user-menu, .hamburger-menu{
    transition: .3s ease;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/hero.jpg);
    background-size: cover;
    background-position: top;
}

.breakfast{
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/vegetarian-breakfast.jpg);
    background-size: cover;
    background-position: center;
}

.lunch{
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/vegetarian-lunch.jpg);
    background-size: cover;
    background-position: center;
}

.dinner{
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/vegetarian-dinner.jpg);
    background-size: cover;
    background-position: center;
}

.fa-leaf{
    font-size: 5rem;
}

.fa-face-smile, .fa-thumbs-up{
    color: var(--primary);
}

.fa-user, .fa-bars{
    font-size: 1.5rem;
}

footer .fa-leaf{
    color: var(--secondary);
}

footer{
    background-color: var(--primary);
}

footer p{
    color: var(--secondary);
}

#ceo, .green-bg{
    background-color: var(--secondary);
}

.full-nav .nav-item{
    display: none;
}

.bg-green{
    background-color: var(--secondary);
}

iframe{
    height: 25rem;
}

#menu-items h3{
    color: var(--emphasis);
}

/* button #1 */
.card button{
    background-color: var(--emphasis);
    color: var(--primary);
    transition: background-color .3s ease, transform .3s ease;
}

.card button:hover{
    background-color: var(--primary);
    color: var(--emphasis);
    transform: scale(1.05);
}

.card button:focus{
    outline: 2px solid var(--emphasis);
}

/* button #2 */
.footer-btn a, .header-text a{
    color: var(--tertiary);
    background-color: white;
    transition: background-color .3s ease, transform .3s ease;
}

.footer-btn a:hover, .header-text a:hover{
    background-color: var(--secondary);
    color: var(--primary);
    transform: scale(1.05);
}

.footer-btn a:focus, .header-text a:focus{
    outline: 2px solid var(--secondary);
}

/* button #3 */
#new-items button, #reservation button{
    background-color: var(--tertiary);
    color: white;
    transition: background-color .3s ease, transform .3s ease;
}

#new-items button:hover, #reservation button:hover{
    color: var(--tertiary);
    background-color: white;
    transform: scale(1.05);
}

#new-items button:focus, #reservation button:focus{
    outline: 2px solid var(--tertiary);
}

/* nav button */
.nav-item a:hover, .hamburger-btn:hover, .user-btn:hover{
    font-weight: bold;
    transition: .3s ease-in-out;
}

.nav-item a:focus, .hamburger-btn:focus, .user-btn:focus{
    font-weight: bold;
    outline: 1px solid white;
}


/* --- tablet media query --- */
@media screen and (min-width: 720px){
    .wrapper{
        width: 720px;
        margin: auto;
    }

    nav{
        display: none;
    }

    .full-nav .nav-item{
        display: flex;
    }
}

/* --- desktop media query --- */
@media screen and (min-width: 1440px){
    .wrapper{
        width: 1200px;
    }
}
