/* mobile media query */
h1, h2, h3{
    font-family: Alegreya, serif;
}

a, p{
    font-family: Inter, sans-serif;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
}

:root{
    --primary: #304F22;
    --secondary: #C9C250;
    --emphasis: #FFBE4D;
}

.fa-leaf{
    font-size: 5rem;
}

.fa-user, .fa-bars{
    font-size: 1.5rem;
}

footer .fa-leaf{
    color: var(--secondary);
}

footer{
    background-color: var(--primary);
}

footer p{
    color: var(--secondary);
}

.full-nav .nav-item{
    display: none;
}

.bg-green{
    background-color: var(--secondary);
}

iframe{
    height: 25rem;
}


/* tablet media query */
@media screen and (min-width: 720px){
    .wrapper{
        width: 720px;
        margin: auto;
    }

    nav{
        display: none;
    }

    .full-nav .nav-item{
        display: flex;
    }
}

@media screen and (min-width: 1440px){
    .wrapper{
        width: 1200px;
    }
}